<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='WebRTC Video Conference App' />
		<!-- <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'> -->
		<meta name='viewport' content='width=device-width' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
		<script src='/js/home.js'></script>
		<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
		<link rel="icon" href="/img/logo_tjwp_degrade.png">
		<title>The Jazz Web Project - RUSHED - Homepage</title>
	</head>
	<body>  
        <main id="container">
			<div id="rotate">
				<img src="/img/logo_tjwp_degrade.png" width="50" />
				<br>
				<h2>The Jazz Web Project</h2>
				<p>RUSHD Application</p>
				<br><br>
				<section id="rotation" class="mt-4">Please turn your device horizontally<br><img src="/img/rotate.png" width="150"></img>
				</section>
			</div>
			<section id="success">
				<img src="/img/logo_tjwp_degrade.png" width="50" />
				<br>
				<h2>The Jazz Web Project</h2>
				<p>RUSHD Application</p>
				<br><br>
				<div id="room-link"><a id="room-url" target="_blank"></a></div>
				<br>
				<div class="bubble">
					Participation link 
					<br><br>
					<span>Send this link to anyone you wish to invite.
						<div class="row">
							<div class="col-4">
								<br>
								<a id="linkWA">
									<div style="margin: 0 auto 8px;border-radius: 12px;padding: 15px;height: 60px;width: 60px;background-color:#25D366">
										<img src="/img/whatsapp.svg" width="60" loading="lazy"></div>
								</a>
								Whatsapp
							</div>
							<!-- 
							<div class="col-4">
								<br><br>
								<a id="linkFM">
									<div style="margin: 0 auto 8px;border-radius: 12px;padding: 20px;height: 80px;width: 80px;background-color:#0080f7">
										<img src="/img/messenger.svg" width="80" loading="lazy"></div>
								</a>
								Messenger
							</div>
							-->
							<div class="col-4">
								<br>
								<a href="#" onclick="javascript:navigator.clipboard.writeText(document.getElementById('room-url'));">
									<div style="margin: 0 auto 8px;border-radius: 12px;padding: 15px;height: 60px;width: 60px;background-color:#53219e">
										<img src="/img/copy.svg" width="60" loading="lazy"></div>
								</a>
								Copy URL
							</div>
						</div>
                    </span>
                </div>
	    	</section>
        </main>                     
	</body>
</html>
