<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name='description' content='RUSHD - Recorded by Users for remote Spectators in High Debit.' />
	<!-- <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'> -->
	<meta name='viewport' content='width=device-width' />
	<script>var HOST_ADDRESS = '<%= hostAddress %>';</script>
	<script src='/socket.io/socket.io.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/cc24da0c76.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/room.css" media="screen" />
	<link rel="icon" href="/img/logo_tjwp_degrade.png">
	<link rel="manifest" href="manifest.json">
	<title>The Jazz Web Project - RUSHED - Recording Room</title>
</head>

<body>
	<div class="wrapper p-2">
		
		<div id="rotate">
			<img src="/img/logo_tjwp_degrade.png" width="50" />
			<br>
			<h2>The Jazz Web Project</h2>
			<p>RUSHD Application</p>
			<br><br>
			<section id="rotation" class="mt-4">Please turn your device horizontally<br><img src="/img/rotate.png" width="150"></img>
			</section>
		</div>

		<section id="success">
			<div class="row">
				<div class="col-3">
					<a href="javascript:window.close();" style="text-decoration: none; color: black;"><h4><img src="/img/logo_tjwp_degrade.png" width="50" class="p-2" />RUSHD</h4></a>
				</div>
				<div class="col-9" style="text-align: center;">

					<a onclick="javascript:document.getElementById('broadcastedVideo').requestFullscreen();" class="btn btn-outline-secondary mt-2"><i class="fa-solid fa-up-right-and-down-left-from-center"></i>&nbsp;&nbsp;Fullscreen</a>
					<button id="record" class="btn btn-outline-secondary mt-2"><i class="fa-solid fa-circle"></i>&nbsp;&nbsp;Start Recording</button>
					<button id="download" class="btn btn-outline-secondary mt-2" disabled><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Download</button>
					<span style="display: none;">
						Recording format: <select id="codecPreferences" disabled></select>
					</span>
				</div>
			</div>

			<div class="row mt-2">
				<div class="col-3">
					<div id="videos">
						<div id="videosWrapper">
							<div class="row">
								<div class="col-12">
									<div id="localVideoWrap" class='videoWrap'>
										<video class="videoBox" id="localVideo" autoplay muted playsinline></video>
										<a onclick="selectVideo('localVideo');" class="btn btn-outline-secondary mt-2"><i class="fa-solid fa-camera"></i>&nbsp;&nbsp;Select</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-9">
					<div id="broadcastedVideoWrap">
						<video class="videoBox" id="broadcastedVideo" autoplay="" playsinline muted></video>
					</div>
				</div>
			</div>
		</section>
	</div>
	<canvas id="broadcastedCanvas" style="display: none;"></canvas>

	<script src='/js/meeting.js'></script>
	<script src='/js/room.js'></script>
	<script src='/js/recorder.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>